:root {
	--layout: #0D0946;
	--header: 60px;
}

.product-item {
	.-slider {
		margin-top: 20px;
		height: 80vh;
		width: 100%;
		object-fit: contain;

		@media screen and (max-width: 600px) {
			height: auto;
			margin-top: 5px;
		}
	}

	.-text {
		font-family: 'Avenir', sans-serif;
		font-weight: 400;
		font-size: 22px;
		@media screen and (max-width: 600px) {font-size: 18px;}
		&.xl {
			font-size: 60px;
			margin-bottom: 15px;
			margin-top: 15px;
			@media screen and (max-width: 600px) {font-size: 48px;}
		}
		&.bd { font-weight: 700; }
	}


	.-specs {
		margin-top: 30px;
		margin-bottom: 50px;
		.-item {margin-bottom: 4px;}
	}

	.-links-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 30px;
		gap: 40px;
		@media screen and (max-width: 600px) { gap:20px }
		.-link {
			font-family: 'Avenir', sans-serif;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 200px;
			height: 130px;
			background: #FFFFFF;
			box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.15);
			border-radius: 5px;
			color: #363636;
			font-size: 24px;
			font-family: 'Cambay';
			transition: 300ms;

			&:hover {
				box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
			}

			@media screen and (max-width: 600px) {
				width: 140px;
				height: 90px;
				font-size: 20px;
			}
		}
	}
}


.contacts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
	@media only screen and (max-width: 1200px) {
		grid-template-columns: 1fr;
		gap: 10px;
	}
}

.product-landing {
	transition: 500ms;
	padding-bottom: 2px;
	margin-bottom: 25px;
	/* box-shadow: 0px 15px 15px  rgba(59, 59, 59, 0.05); */
	border-radius: 2px;
	&:active {
		opacity: 0;
		transform: scale(1.1);
	}
	&:hover {
		box-shadow: 0px 10px 10px rgba(59, 59, 59, 0.10);
	}
	.-text {
		margin-top: 5px;
		margin-bottom: 10px;
		font-family: 'Avenir', sans-serif;
		text-align: center;
		font-size: 18;
		color: rgb(25, 25, 25);
		text-decoration: none;
	}
	.-img {
		max-width: 100%;
	}
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.gallery {
	padding: 10px 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 25px;
	width: 1fr;
	@media only screen and (max-width: 1200px) {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
		padding: 10px 10px;
	}
    @media only screen and (max-width: 600px) {
		grid-template-columns: 1fr 1fr;
	}
	.-title {
		font-size: 12px;
	}
	.-img {
		width: 100%;
		height: auto;
	}
}

.textile-title {
	display: inline-block;
	font-size: 48px;
	margin-bottom: 25px;
	margin-top: 40px !important;
	@media only screen and (max-width: 550px) {
		font-size: 24px;
		margin-bottom: 15px;
		margin-top: 25px !important;
	}
}
.textile {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
    @media only screen and (max-width: 1200px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
    @media only screen and (max-width: 600px) {
		grid-template-columns: 1fr 1fr;
	}

	.-item {
		position: relative;
		text-align: center;
		transition: 250ms;
		overflow: hidden;
		object-fit: contain;

		.-img {
			width: 100%;
			height: auto;
			object-fit: cover;
			margin-bottom: 24px;
		}

		.-text {
			font-family: 'Avenir', sans-serif;
			font-size: 36px;
			position: absolute;
			top: 75%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 85%;
			color: #ffffff;

			@media only screen and (max-width: 550px) {
				font-size: 16px;
			}
		}
	}
}
.contacts-title {
    margin-top: 25px;
    font-size: 48px;  
    font-weight: 500;
    font-family: 'Avenir', sans-serif;
    @media only screen and (max-width: 1000px) {font-size: 36px;}
  }
  .contacts-wrapper {
    margin-top: 10px;
    margin-bottom: 30px;
    .-text {
      font-size: 20px;
      font-weight: 500;
      font-family: 'Avenir', sans-serif;
      @media only screen and (max-width: 1000px) {font-size: 16px;}
      &.orange {
        color: rgb(225, 153, 21);
      }
      &.xl {
        font-size: 26px;
        font-weight: 700;
        @media only screen and (max-width: 1000px) {
          font-size: 24px;
        }
        &.work-time {margin-top: 30px;}
        &.special {
          height: 78px;
          @media only screen and (max-width: 1000px) {
            height: auto;
          }
        }
      }
    }
  }