.skeleton {
	background: #e2e2e2;
	width: 100%;
	height: auto;
	aspect-ratio: 16/10;
	&.collection {
		aspect-ratio: 7/6;
	}
	&.product {
		aspect-ratio: 16/9;
	}
	&.product {
		aspect-ratio: 16/9;
	}
	&.matress {
		aspect-ratio: 16/12;
	}
	&.furniture {
		aspect-ratio: 9/8;
	}
	&.contacts {
		aspect-ratio: 4/3;
	}
	&.blog {
		aspect-ratio: 7/4;
	}
	&.slider {
		aspect-ratio: 16/9;
	}
	&.textile {
		aspect-ratio: 1/1;
	}
	&.margin-40 {
		margin-top: 40px;
	}
	&.post {
		margin-top: 10px;
		width: 88%;
		height: 450px;
		margin-bottom: 30px;
		@media (max-width: 768px) {
			height: 30vh;
		}
	}
	&.button {
		height: 60px;
		width: 100%;
		@media screen and (max-width: 600px) {
			height: 50px;
			width: 60%;
			font-size: 24px;
			margin-bottom: 20px;
		}
	}
	&.text {
		margin: 7px 0;
		height: 16px;
		max-width: 900px;
		width: 100%;
		border-radius: 2px;
		&.title {
			height: 40px;
			max-width: 150px;
		}
		&.l { 
			height: 24px;
			margin: 4px 0;
		}
		&.xl {
			height: 140px;
		}
	}
}