<footer class="footer">
	<div class="-logo">
		<!-- <img src="/logo.png" alt="" class="-img" /> -->
		Стильный гардероб вашей мебели
	</div>
	<div class="-address">
		<!-- <Image class="-img" src={location} alt="" /> -->
		<div class="-text s">Москва</div>
		<div class="-text m">Дмитровское шоссе 71Б</div>
		<div class="-text m">Бизнес-центр 7ONE, ООО "Нортекс"</div>
	</div>
	<div class="-phone">
		<!-- <Image src={phone} class="-img" alt="" /> -->
		<div class="-contacts-container">
			<a class="-text l link" href="tel:+7(495)2213316">
				+7 (495) 221 - 33 - 16
			</a>
			<a class="-text l link" href="tel:+7(903)2213316">
				+7 (903) 221 - 33 - 16
			</a>
		</div>
	</div>
	<div class="-email">
		<!-- <Image src={mail} class="-img" alt="" /> -->
		<div class="-contacts-container">
			<a class="-text l link" href="mailto:firma.nortex@gmail.com"
				>firma.nortex@gmail.com</a
			>
			<a class="-text l link" href="mailto:info@tkani-nortex.ru"
				>info@tkani-nortex.ru</a
			>
		</div>
	</div>
</footer>

<style>
.footer {
	background: var(--layout);
	min-height: 120px;
	width: 1fr;
	padding: 20px 100px;
	border: 0;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	@media (max-width: 700px) {
		padding: 20px 20px 80px 20px;
		flex-direction: column;
		align-items: flex-start;
	}

	.-text {
		color: #fff;
		font-size: 16px;
		&.s {
			font-size: 14px;
			@media (max-width: 768px) {
				font-size: 12px;
			}
		}
		&.m {
			font-size: 18px;
			@media (max-width: 768px) {
				font-size: 15px;
			}
		}
		&.l {
			font-size: 20px;
			@media (max-width: 768px) {
				font-size: 17px;
			}
		}
		&.link {
			&:hover {
				color: aquamarine;
			}
		}
	}
	.-logo {
		width: 160px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		.-img {
			width: 100%;
			height: auto;
		}
	}
	.-email {
		display: flex;
		gap: 16px;
		align-items: center;
		.-img {
			height: 22px;
			width: auto;
		}
	}
	.-contacts-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.-phone {
		display: flex;
		gap: 16px;
		align-items: center;
		.-img {
			width: 18px;
			height: auto;
		}
	}
	.-address {
		position: relative;
		display: flex;
		gap: 6px;
		flex-direction: column;
		margin-left: 26px;
		@media (max-width: 768px) {
			margin-top: 12px;
		}
		.-img {
			position: absolute;
			top: -20px;
			left: -24px;
		}
	}
}
</style>
