---
const { lang="lv" } = Astro.params;
const currentPath = Astro.url.pathname;
import {mainLinks} from "./Links"

---

<nav class="mobile-menu">
  <div class="-wrapper">
    {mainLinks.map(link => {
      const fullHref = link.href.startsWith('http') ? link.href : `/${lang}${link.href}`;
      const isActive = currentPath === fullHref || 
        (link.href !== '/' && currentPath.startsWith(fullHref));
      return (
        <a
          href={fullHref}
          class:list={["-link", { "active": isActive }]}
        >
          {link["label_" + lang]}
        </a>
      );
    })}
  </div>
</nav>

<style>
.mobile-menu {
  --menu-height: 50px;
  --menu-bg: #2f2f2f;
  --menu-padding: 20px;
  --link-color: #fff;
  --link-active-color: aqua;
  
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  min-height: var(--menu-height);
  background: var(--menu-bg);
  border: 0;

  @media (min-width: 1200px) {
    display: none;
  }

  .-wrapper {
    min-height: var(--menu-height);
    padding: 0 var(--menu-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: var(--link-color);
    font-weight: 500;
    @media (max-width: 400px) {
      padding: 0 10px
    }

  }

  .-link {
    color: var(--link-color);
    font-size: 12px;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover,
    &.active {
      color: var(--link-active-color);
    }
  }
}
</style>