---
const currentPath = Astro.url.pathname;
---

<nav class="mobile-menu">
	<div class="-wrapper">
	<a
		href="/textile"
		class={currentPath === "/textile/"  || currentPath.includes("/collection")|| currentPath.includes("/product") ? "-link active" : "-link "}
		>Коллекции</a>
	<a
		href="/cleaning"
		class={currentPath === "/cleaning/" ? "-link active" : "-link "}
		>Как очистить ткань</a>
	<a
		href="/furniture"
		class={currentPath === "/furniture/" ? "-link active" : "-link "}
		>Фурнитура</a>
	<a
		href="/blog"
		class={ currentPath === "/blog/" || currentPath.includes("/post") ? "-link active" : "-link "}
		>Блог</a>
	</div>
</nav>
<style>
	.mobile-menu {
		z-index: 10;
		position: fixed;
		bottom: 0;
		background: #2f2f2f;
		width: 100vw;
		border: 0;
		min-height: 50px;
		@media (min-width: 700px) {
			display: none;
		}
		.-wrapper {
			min-height: 50px;
			padding: 0 20px;
			width: 1fr;
			font-weight: 500;
			color: #fff;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 10px;
			justify-content: space-between;
		}

		.-link {
			color: #fff;
			font-size: 12px;
			text-decoration: none;
			&:hover {
				color: aqua;
			}
			&.active {
				color: aqua;
			}
		}
	}
</style>
