---
import { Image } from "astro:assets";
import pic1 from "../../../assets/images/collection/Pic6.jpg";
import pic2 from "../../../assets/images/collection/Pic7.jpg";
import pic3 from "../../../assets/images/collection/Pic8.jpg";
import Layout from "../../../layouts/Layout.astro";

const { lang } = Astro.params;

export function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "lv" } },
    { params: { lang: "ru" } },
  ];
}
---

<Layout offset={false}>
  <div class="collections">
    <a
      href="https://www.sophisticated-living.com/"
      rel="noopener noreferrer"
      target="_blank"
      class="collection-link"
    >
      <div class="-item">
        <Image class="-img" alt="" src={pic2} />
        <span class="-text">Hotels</span>
      </div>
    </a>
    <a href={"/" + lang + "/collection/bbold"} class="collection-link">
      <div class="-item">
        <Image class="-img" alt="" src={pic3} />
        <span class="-text">Cafe</span>
      </div>
    </a>
    <a href={"/" + lang + "/collection/basic"} class="collection-link">
      <div class="-item">
        <Image class="-img" alt="" src={pic1} />
        <span class="-text">Projects
        </span>
      </div>
    </a>
  </div>
</Layout>

<style>
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 0;
  padding: 0;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.collection-link {
  display: block;
  text-decoration: none;
}

.-item {
  position: relative;
  width: 100%;
  height: 82vh;
  min-height: 500px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);

  @media screen and (max-width: 1024px) {
    height: auto;
    min-height: 250px;
  }

  &:hover .-img {
    opacity: 0.5;
    transform: scale(1.01);
    filter: grayscale(0.5);
  }
}

.-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.85;
  filter: grayscale(0.3);
  transition: 
    opacity 250ms linear,
    transform 250ms linear;

  @media screen and (max-width: 1024px) {
    height: 250px;
  }
}

.-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  color: #ffffff;
  font-family: "Avenir", sans-serif;
  font-size: 48px;
  text-align: center;
  z-index: 1;

  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }
}
</style>