
<div class="cards">
    <a href="/en/products/sofa">
        <div class="card">
        <span class="card-text">Диваны</span>
        </div>
    </a>
    <a href="/en/products/matress">
        <div class="card">
        <span class="card-text">Матрацы</span>
        </div>
    </a>
    <a href="/en/products/bed">
        <div class="card">
        <span class="card-text">Кровати</span>
        </div>
    </a>
</div>

<style>

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 12px;
}

.card {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    background: url('https://via.placeholder.com/300x200') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
</style>