/* BurgerMenu.css */
:root {
    --background-color: rgba(0, 0, 0, 0.75);
    --text-color: #ffffff;
    --transition-speed: 0.3s;
  }
  
  /* Контейнер для бургер-меню */
  .burger-menu {
    /* position: fixed; */
    /* top: 20px; */
    /* right: 20px; */
    z-index: 1000;
  }
  
  /* Кнопка бургер-меню */
  .burger-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
  }
  
  .burger-button:focus {
    outline: none;
  }
  
  .burger-line {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: all var(--transition-speed);
  }
  
  /* Анимация для превращения в X */
  .burger-button.open .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .burger-button.open .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  .burger-button.open .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  /* Панель меню */
  .menu-panel {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    transition: right var(--transition-speed);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 999;
  }
  
  .menu-panel.open {
    right: 0;
  }
  
  /* Стили для ссылок */
  .menu-links {
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 60px;
    width: 100%;
  }
  
  .menu-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 32px;
    margin: 15px 0;
    transition: opacity 0.2s;
  }

  .menu-link.active {
    color: aqua; /* or whatever accent color you're using */
  }
  
  .menu-link:hover {
    opacity: 0.8;
  }
  
  /* Затемнение фона */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
  
  @media (min-width: 1200px) {
    .burger-menu {
        display: none;
    }
}
  /* Медиа-запрос для планшетов и десктопов */
  @media (min-width: 768px) {
    .menu-panel {
      width: 320px;
    }
    
    .menu-links {
      padding-right: 40px;
    }
  }