---
import Layout from "../../layouts/Layout.astro";
import Catalogs from "../../components/aboutUs/Catalogs.astro";
import Horeca from "../../components/aboutUs/Horeca.astro";
import Comp from "../../components/aboutUs/Comp.astro";
import Textiles from "../../components/aboutUs/Textiles.astro";

export function getStaticPaths() {
	return [
		{ params: { lang: "en" } },
		{ params: { lang: "lv" } },
		{ params: { lang: "ru" } },
	];
}

---
<Layout>
    <Comp />
    <Textiles />
    <!-- <h2>Отличное решение для вашего бизнеса</h2> -->
    <Horeca />
    <Comp />
    <Catalogs />
</Layout>

<style>

</style>

