---
import Layout from "../../layouts/Layout.astro";
import Horeca from "../../components/aboutUs/Horeca.astro";
import Comp from "../../components/aboutUs/Comp.astro";
import Textiles from "../../components/aboutUs/Textiles.astro";
import Awards from "../../components/Awards";



export function getStaticPaths() {
	return [
		{ params: { lang: "en" } },
		{ params: { lang: "lv" } },
		{ params: { lang: "ru" } },
	];
}

---
<Layout offset={false}>
    <Comp type="textile"/>
    <Textiles />
    <Comp type="porolon"/>
    <div class="title">Отличное решение для вашего бизнеса</div>
    <Horeca />
    <div class="title">Продукция удостоена лучших наград</div>
    <Awards client:only />
</Layout>

<style scoped>
    .content {
        display: grid;
        grid-template-columns: 50% 1fr;
        width: 100%;
    }
    .title {
        font-size: 48px;
        text-align: center;
        margin: 30px 0;
        @media screen and (max-width:768px) {
            font-size: 24px;
        }
    }
</style>

