---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import porolon from "../../assets/images/components/porolon.png";
import textile from "../../assets/images/components/textile.png";
export function getStaticPaths() {
	return [
		{ params: { lang: "en" } },
		{ params: { lang: "lv" } },
		{ params: { lang: "ru" } },
	];
}
const { lang } = Astro.params;

---

<Layout>
    <div class="furniture-components">
        <div>
            <a href="http://porolons.lv/" target="_blank" rel="noopener noreferrer">
                <Image class='-img' alt='' src={porolon} />	
            </a>		
            <p class='-text xl'>Foam</p>
            <p class='-text'>Our company creates goods from foam rubber of any complexity.</p>
        </div>
        <div>
            <a href={"/" + lang +"/textile"} rel="noopener noreferrer">
                <Image class='-img' alt='' src={textile} />			
            </a>
            <p class='-text xl'>Textile</p>
            <p class='-text'>A wide selection of fabrics from any type of fiber for upholstered furniture is available.</p>
        </div>
    </div>
</Layout>

<style scoped>
.furniture-components {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    .-text {
        font-family: 'Avenir', sans-serif;
        font-size: 16px;
        margin-left: 5px;
        &.xl {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 5px;
            margin-top: 15px;
        }
    }
    .-img {
        width: 100%;
        height: auto;
        min-height: 200px;
        background-color: #f0f0f0;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
        transition: 350ms;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.50);
        }
    }
}
    
</style>

