---
import Layout from "../../layouts/Layout.astro";
import Slider from "../../components/Slider";
import Awards from "../../components/Awards";
export function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "lv" } },
    { params: { lang: "ru" } },
  ];
}
const { lang } = Astro.params;

---
<Layout offset={false}>
  <Slider client:only/>
  <div class="cards">
    <a 
		href="https://www.sophisticated-living.com/"
		rel="noopener noreferrer"
		target="_blank"
	>
      <div class="card">
        <div class="bg-image"></div>
        <span class="card-text">Sophisticated Living</span>
      </div>
    </a>
    <a href={"/" + lang + "/collection/bbold"}>
      <div class="card">
        <div class="bg-image bbold"></div>
        <span class="card-text">BBold</span>
      </div>
    </a>
    <a href={"/" + lang + "/collection/basic"}>
      <div class="card">
        <div class="bg-image basic"></div>
        <span class="card-text">Basic</span>
      </div>
    </a>
</div>
<h2>Our rewards</h2>
<Awards client:only/>
</Layout>
<style>
  .cards {
	margin-top: 1px;
	margin-bottom: 25px;
    display: grid;
	gap:1px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 100%;
	@media screen and (max-width: 1024px) {
		grid-template-columns: 1fr;
	}
  }
  .card {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/collection/Pic7.jpg') center/cover no-repeat;
    filter: brightness(0.7); /* Darker image */
    z-index: 1;
	transition: 250ms;
	&:hover {
		filter: brightness(0.6); /* Darker image */
	}
	&.basic {
		background: url('../../assets/images/collection/Pic6.jpg') center/cover no-repeat;
	}
	&.bbold {
		background: url('../../assets/images/collection/Pic8.jpg') center/cover no-repeat;
	}
  }
  .card-text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
  }
</style>